<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.JourneyRiderDao">
  
  <resultMap type="journeyRider" id="journeyRiderMap" >
    <id column="rjno" property="journeyRiderNo"/>
    <result column="mstat" property="matchingStatus"/>
    <result column="mcont" property="matchingContent"/>
    <result column="dstar" property="driverStar"/>
    <result column="rstar" property="riderStar"/>

    <association property="driver" javaType="member" resultMap="memberMap"/>
    
    <association property="journey" javaType="journey">
      <id column="jno" property="jno"/>
      <result column="jno_jfee" property="fee"/>
      <result column="jno_jdate" property="journeyDate"/>
      <result column="jno_jtime" property="journeyTime"/>
      <result column="jno_jcontent" property="content"/>
    </association>
    
    <association property="departure" javaType="route">
      <id column="t1_rno" property="rno"/>
      <result column="t1_spot_name" property="spotName"/>
      <result column="t1_spot_order" property="spotOrder"/>
    </association>
    
    <association property="arrival" javaType="route">
      <id column="t2_rno" property="rno"/>
      <result column="t2_spot_name" property="spotName"/>
      <result column="t2_spot_order" property="spotOrder"/>
    </association>
  </resultMap>
    
    
  <resultMap type="member" id="memberMap">
      <id column="driver_mno" property="mno"/>
      <result column="driver_mname" property="mname"/>
  </resultMap>
    <!-- 
  <resultMap type="journey" id="journeyMap">
      <id column="jno" property="jno"/>
      <result column="jno_jfee" property="fee"/>
      <result column="jno_jdate" property="journeyDate"/>
      <result column="jno_jtime" property="journeyTime"/>
      <result column="jno_jcontent" property="content"/>
  </resultMap>    
  

    
  <resultMap type="route" id="routeMap">
      <id column="rno" property="rno"/>
      <result column="route_name" property="spotName"/>
      <result column="route_order" property="spotOrder"/>
  </resultMap>
     -->
  <!-- 카풀신청 -->
  <insert id="insert" parameterType="journeyRider"
          useGeneratedKeys="true" keyColumn="rjno" keyProperty="journeyRiderNo">
    insert into talat_journey_rider(jno,mno,mstat,mcont,dstar,rstar) 
    values(#{journey.jno},#{driver.mno},0,null,0,0)
  </insert>

  <!-- 나의 여정 내역(list) -->
  <select id="findAll" resultMap="journeyRiderMap">
    select
      distinct jr.rjno,
      jr.mstat,
      r.rno,
      r.spot_name as route_name,
      r.spot_order as route_order,
      j.jno,
      j.jfee as jno_jfee,
      j.jdate as jno_jdate,
      j.jtime as jno_jtime,
      m.mno as driver_mno,
      m.mname as driver_mname
    from talat_journey_rider jr
      inner join talat_journey j on j.jno=jr.jno
      inner join talat_memb m on m.mno=jr.mno
      inner join talat_journey_route r on r.jno=j.jno
    where jr.mstat = 1
  </select>
   
   
  <!-- 여정 신청(search) -->
  <select id="findByKeywords" resultMap="journeyRiderMap" parameterType="map">
  <![CDATA[
    select 
      distinct j.jno,
      j.jdate jno_jdate,
      j.jtime jno_jtime,
      t1.jno t1_jno,
      t2.jno t2_jno,
      t1.rno t1_rno,
      t1.spot_name t1_spot_name,
      t2.rno t2_rno,
      t2.spot_name t2_spot_name,
      m.mno driver_mno,
      m.mname driver_mname
    from 
	    (
	    select  
	      rno,
	      jno,
	      spot_order,
	      lat,
	      lng,
	      spot_name
	    from talat_journey_route
	    where spot_order=1
	    ) as t1
	    ,
	    (
	    select  
	      rno,
	      jno,
	      spot_order,
	      lat,
	      lng,
	      spot_name
	    from talat_journey_route
	    where spot_order > 1
	    ) as t2
	    ,
	    talat_memb m
	    ,
	    talat_journey j
	  where t1.jno = t2.jno 
	      and j.jno=t1.jno
	      and j.mno=m.mno
	      and t1.spot_name like concat('%', #{keyword1}, '%')
	      and t2.spot_name like concat('%', #{keyword2}, '%') 
	      and j.jdate = #{keyword3}
        and j.jtime  <=  #{keyword4}
        ]]>
        
  </select>

  <select id="findByNo" resultMap="journeyRiderMap" parameterType="int">
    select
      jr.rjno,
      m.mno as driver_mno,
      m.mname as driver_mname,
      j.jno,
      j.jdate as jno_jdate,
      j.jtime as jno_jtime,
      j.jfee as jno_jfee,
      r.rno,
      r.spot_name as route_spot
     from talat_journey_rider jr
      inner join talat_journey j on jr.jno=j.jno
      inner join talat_memb m on jr.mno=m.mno
      inner join talat_journey_route r on jr.jno=r.jno
     where jr.rjno = #{value}
  </select>
  <!-- 여정 변경 -->
  <!-- 
  <update id="update" parameterType="journeyRider">
    update talat_journeyRider set
        jno = #{journeyRiderNo}, 
        mno = #{riderNo}
        mstat = #{machingStatus},
        mcont = #{machingContent},
        dstar = #{driverStar},
        rstar = #{riderStar}
    where rjno = #{rjno}
  </update>
  -->
  
  <!-- 신청 여정 삭제 -->
  <delete id="delete" parameterType="int">
    delete from talat_journey_rider 
    where rjno = #{value}
  </delete>
  
  <insert id="insertJourneys" parameterType="map">
    insert into talat_journey_rider(rjno, jno)
    values(#{journeyRiderNo}, #{journeyNo})
  </insert>
  
  <delete id="deleteJourney" parameterType="int">
    delete from talat_journey_rider 
    where jno = #{value}
  </delete>
</mapper>







