<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.JourneyRiderDao">
  
  <resultMap type="journeyRider" id="journeyRiderMap" >
    <id column="rjno" property="journeyRiderNo"/>
    <result column="mstat" property="matchingStatus"/>
    <result column="mcont" property="matchingContent"/>
    
    <association property="driver" javaType="memberDriver" resultMap="memberDriverMap"/>
    
    <association property="journey" javaType="journey">
      <id column="jno" property="jno"/>
      <result column="jno_jfee" property="fee"/>
      <result column="jno_jdate" property="journeyDate"/>
      <result column="jno_jtime" property="journeyTime"/>
      <result column="jno_jcontent" property="content"/>
      <result column="jno_pet" property="pet"/>
      <result column="jno_seat_psgr_cap" property="seatPassenger"/>
      <result column="jno_seat_rear_cap" property="seatRear"/>
    </association>
    
    <association property="departure" javaType="route"> <!-- 출발지 -->
      <id column="t1_rno" property="rno"/>
      <result column="t1_spot_name" property="spotName"/>
      <result column="t1_spot_order" property="spotOrder"/>
    </association>
    
    <association property="spot" javaType="route"> <!-- 경유지 -->
      <id column="t2_rno" property="rno"/>
      <result column="t2_spot_name" property="spotName"/>
      <result column="t2_spot_order" property="spotOrder"/>
    </association>

    <association property="arrival" javaType="route"> <!-- 도착지 -->
      <id column="t3_rno" property="rno"/>
      <result column="t3_spot_name" property="spotName"/>
      <result column="t3_spot_order" property="spotOrder"/>
    </association>
    
    <association property="rider" javaType="memberRider">
      <id column="rider_mno" property="mno"/>
    </association>
    
  </resultMap>
    
  <resultMap type="memberDriver" id="memberDriverMap">
      <id column="driver_mno" property="mno"/>
      <result column="driver_mname" property="mname"/>
      <result column="driver_ccolor" property="carColor"/>
      <result column="driver_cname" property="carModel"/>
      <result column="driver_cno" property="carNo"/>
      <result column="driver_star_avg" property="starAverage"/>
  </resultMap>

  <!-- 카풀신청 -->
  <insert id="insert" parameterType="journeyRider" useGeneratedKeys="true" keyProperty="journeyRiderNo">
    insert into talat_journey_rider(jno,mno,mstat) 
    values(#{journey.jno},#{rider.mno},#{matchingStatus})
    <selectKey keyProperty="journeyRiderNo" resultType="int">
      select last_insert_id()
    </selectKey>
  </insert>

  <!-- 나의 여정 내역(list) -->
  <select id="findAll" resultMap="journeyRiderMap">
    select
      jr.rjno,
      jr.mstat,
      t1.rno,
      t1.spot_name as t1_spot_name,
      t1.spot_order as t1_spot_order,
      t3.rno,
      t3.spot_name as t3_spot_name,
      t3.spot_order as t3_spot_order,
      j.jno,
      j.jfee as jno_jfee,
      j.jdate as jno_jdate,
      j.jtime as jno_jtime,
      m.mno as driver_mno,
      m.mname as driver_mname
    from talat_journey_rider jr,
      (
      select  
        rno,
        jno,
        spot_order,
        spot_name
      from talat_journey_route
      where spot_order=1
      ) as t1
      ,
      (
      select  
        rno,
        jno,
        spot_order,
        spot_name
      from talat_journey_route
      where spot_order=100
      ) as t3
      ,
      talat_journey j
      ,
      talat_memb m
    where 
      j.jno=jr.jno
      and m.mno=jr.mno
      and t1.jno=j.jno
      and t3.jno=t1.jno
    group by jr.rjno
  </select>
   
   
  <!-- 여정 신청(search) -->
  <select id="findByKeywords" resultMap="journeyRiderMap" parameterType="map">
  <![CDATA[
    select 
      j.jno,
      j.jdate jno_jdate,
      j.jtime jno_jtime,
      j.jfee jno_jfee,
      j.pet jno_pet,
      j.seat_psgr_cap,
      j.seat_rear_cap,
      j.jcont jno_jcontent,
      t1.rno t1_rno,
      t1.spot_name t1_spot_name,
      t2.rno t2_rno,
      t2.spot_name t2_spot_name,
      t3.rno t3_rno,
      t3.spot_name t3_spot_name,
      m.mno driver_mno,
      m.mname driver_mname
    from 
	    (
	    select  
	      rno,
	      jno,
	      spot_order,
	      lat,
	      lng,
	      spot_name
	    from talat_journey_route
	    where spot_order=1
	    ) as t1
	    ,
	    (
	    select  
	      rno,
	      jno,
	      spot_order,
	      lat,
	      lng,
	      spot_name
	    from talat_journey_route
	    where spot_order > 1 and spot_order < 100
	    ) as t2
	    ,
	    (
      select  
        rno,
        jno,
        spot_order,
        lat,
        lng,
        spot_name
      from talat_journey_route
      where spot_order = 100
      ) as t3
      ,
	    talat_memb m
	    ,
	    talat_journey j
	    ,
	    talat_join tj
	  where t1.jno = t2.jno
	      and tj.mno=m.mno 
	      and t2.jno = t3.jno
	      and j.jno=t1.jno
	      and j.mno=m.mno
	      and t1.spot_name like concat('%', #{keyword1}, '%')
	      and (t2.spot_name like concat('%', #{keyword2}, '%') or t3.spot_name like concat('%', #{keyword2}, '%')) 
	      and j.jdate = #{keyword3}
        and j.jtime  <=  #{keyword4}
    group by j.jno, t1.spot_order
        ]]>
        
  </select>

  <select id="findByRjNo" resultMap="journeyRiderMap" parameterType="int">
    select
      jr.rjno,
      jr.mstat,
      t1.rno,
      t1.spot_name as t1_spot_name,
      t1.spot_order as t1_spot_order,
      t3.rno,
      t3.spot_name as t3_spot_name,
      t3.spot_order as t3_spot_order,
      j.jno,
      j.jfee as jno_jfee,
      j.jdate as jno_jdate,
      j.jtime as jno_jtime,
      m.mno as driver_mno,
      m.mname as driver_mname
    from talat_journey_rider jr,
      (
      select  
        rno,
        jno,
        spot_order,
        spot_name
      from talat_journey_route
      where spot_order=1
      ) as t1
      ,
      (
      select  
        rno,
        jno,
        spot_order,
        spot_name
      from talat_journey_route
      where spot_order=100
      ) as t3
      ,
      talat_journey j
      ,
      talat_memb m
    where 
      jr.rjno=#{value}
      and j.jno=jr.jno
      and m.mno=jr.mno
      and t1.jno=j.jno
      and t3.jno=t1.jno
  </select>
  
  <select id="findByJNo" resultMap="journeyRiderMap" parameterType="int">
  <![CDATA[
    select 
      j.jno,
      m.mname driver_mname,
      d.ccolor driver_ccolor,
      d.cname driver_cname,
      d.cno driver_cno,
      tj.star_avg driver_star_avg,
      j.jdate jno_jdate,
      j.jtime jno_jtime,
      j.jfee jno_jfee,
      t1.spot_name t1_spot_name,
      t2.spot_name t2_spot_name,
      t3.spot_name t3_spot_name,
      j.pet jno_pet,
      j.seat_psgr_cap jno_seat_psgr_cap,
      j.seat_rear_cap jno_seat_rear_cap,
      j.jcont jno_jcontent
    from
      (
      select  
        rno,
        jno,
        spot_order,
        spot_name
      from talat_journey_route
      where spot_order=1
      ) as t1
      ,
      (
      select  
        rno,
        jno,
        spot_order,
        spot_name
      from talat_journey_route
      where spot_order > 1 and spot_order < 100
      ) as t2
      ,
      (
      select  
        rno,
        jno,
        spot_order,
        spot_name
      from talat_journey_route
      where spot_order = 100
      ) as t3
      ,
      talat_memb m,
      talat_journey j,
      talat_join tj,
      talat_driver d
    where 
      j.jno=#{value}
      and j.mno = m.mno
      and t1.jno = j.jno
      and t2.jno = j.jno
      and t3.jno = j.jno
      and tj.mno = m.mno
      and m.mno = d.mno
    group by j.jno, t1.spot_name
       ]]>
       </select>
       
  <!-- 신청 여정 삭제 -->
  <delete id="delete" parameterType="int">
    delete from talat_journey_rider 
    where rjno = #{value}
  </delete>
  
</mapper>







