<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.JourneyRiderDao">
  
  <resultMap id="journeyRiderMap" type="journeyRider">
    <id column="rjno" property="journeyRiderNo"/>
    <result column="mstat" property="machingStatus"/>
    <result column="mcont" property="machingContent"/>
    <result column="dstar" property="driverStar"/>
    <result column="rstar" property="riderStar"/>
    
    <association property="journey" javaType="journey">
      <id column="jno" property="jno"/>
      <result column="jno_dept" property="departure"/>
      <result column="jno_arr" property="arrival"/>
      <result column="jno_jfee" property="fee"/>
      <result column="jno_jdate" property="journeyDate"/>
      <result column="jno_jtime" property="journeyTime"/>
    </association>
    
    <association property="driver" javaType="member">
      <id column="driver_mno" property="mno"/>
      <result column="driver_mname" property="mname"/>
    </association>
    
    <association property="rider" javaType="member">
      <id column="rider_mno" property="mno"/>
    </association>
    
    <association property="route" javaType="route">
      <id column="rno" property="rno"/>
      <result column="route_spot" property="spotName"/>
    </association>
    
  </resultMap>
  
  <!-- 카풀신청 -->
  <insert id="insert" parameterType="journeyRider">
    insert into talat_journey_rider(jno,mno,mstat,mcont,dstar,rstar) 
    values(#{jno},#{mno},#{machingStatus},#{machingContent},#{driverStar},#{riderStar})
  </insert>

  <!-- 나의 여정 내역(list) -->
  <select id="findAll" resultMap="journeyRiderMap">
    select
      jr.rjno,
      j.jno,
      j.dept as jno_dept,
      j.arr as jno_arr,
      j.jfee as jno_jfee,
      j.jdate as jno_jdate,
      j.jtime as jno_jtime,
      m.mno as driver_mno,
      m.mname as driver_mname
    from talat_journey_rider jr
      inner join talat_journey j on jr.jno=j.jno
      inner join talat_memb m on jr.mno=m.mno
    order by jr.rjno desc 
  </select>
  
  <!-- 여정 신청(search) -->
  <select id="findByKeyword" resultMap="journeyRiderMap" parameterType="map">
    select
      m.mno as driver_mno,
      m.mname as driver_mname, 
      j.jno,
      j.dept as jno_dept, 
      j.arr as jno_arr, 
      j.jtime as jno_jtime, 
      j.jdate as jno_jdate, 
      r.rno,
      r.spot_name as route_spot 
    from talat_journey_rider jr
      inner join talat_memb m on m.mno=jr.mno
      inner join talat_journey j on j.jno=jr.jno
      inner join talat_journey_route r on jr.jno=r.jno
    <where>
      <if test="departure != null and departure != ''">
        j.dept like concat('%', #{departure}, '%')
      </if>
      <if test="arrival != null and arrival != ''">
        and j.arr like concat('%', #{arrival}, '%')
      </if>
      <if test="journeyDate != null and journeyDate != ''">
        and j.jdate like concat('%', #{journeyDate}, '%')
      </if>
      <if test="journeyTime != null and journeyTime != ''">
        and j.jtime like concat('%', #{journeyTime}, '%')
      </if>
    </where>
    order by departure desc
  </select>

  <select id="findByNo" resultMap="journeyRiderMap" parameterType="int">
    select
      jr.rjno,
      m.mno as driver_mno,
      m.mname as driver_mname,
      j.jno,
      j.jdate as jno_jdate,
      j.jtime as jno_jtime,
      j.jfee as jno_jfee,
      j.dept as jno_dept,
      j.arr as jno_arr,
      r.rno,
      r.spot_name as route_spot
     from talat_journey_rider jr
      inner join talat_journey j on jr.jno=j.jno
      inner join talat_memb m on jr.mno=m.mno
      inner join talat_journey_route r on jr.jno=r.jno
     where jr.rjno = #{value}
  </select>

  <!-- 여정 변경 -->
  <!-- 
  <update id="update" parameterType="journeyRider">
    update talat_journeyRider set
        jno = #{journeyRiderNo}, 
        mno = #{riderNo}
        mstat = #{machingStatus},
        mcont = #{machingContent},
        dstar = #{driverStar},
        rstar = #{riderStar}
    where rjno = #{rjno}
  </update>
  -->
  
  <!-- 여정 삭제 
  <delete id="delete" parameterType="int">
    delete from talat_journey  
    where no = #{value}
  </delete>
-->
</mapper>







