<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.MemberDriverDao">

  <resultMap id="memberDriverMap" type="memberDriver">
    <id column="mno" property="mno"/>
    <result column="mname" property="mname"/>
    <result column="email" property="email"/>
    <result column="pwd" property="password"/>
    <result column="tel" property="tel"/>
    <result column="birth" property="birth"/>
    <result column="mtype" property="mType"/>
    <result column="nic" property="nickName"/>
    <result column="gender" property="gender"/>
    <result column="pst_no" property="postNo"/>
    <result column="basic_addr" property="basicAddress"/>
    <result column="det_addr" property="detailAddress"/>
    <result column="prof" property="profile"/>
    <result column="pref_gender" property="preferenceGender"/>
    <result column="mrdt" property="registeredDate"/>
    <result column="star_avg" property="starAverage"/>
    <result column="rev_avg" property="reviewAverage"/>
    <result column="lic_no" property="licenseNo"/>
    <result column="lic_type" property="licenseType"/>
    <result column="lic_renew" property="licenseRenewal"/>
    <result column="lic_verf" property="licenseVerfNo"/>
    <result column="cno" property="carNo"/>
    <result column="cname" property="carModel"/>
    <result column="ccolor" property="carColor"/>
    <result column="cyear" property="carYear"/>
    <result column="cowner" property="carOwner"/>
    <result column="lic_photo" property="licensePhoto"/>
    <result column="ins_photo" property="insurancePhoto"/>
    <result column="car_photo" property="carPhoto"/>
    <result column="corp_photo" property="corporationPhoto"/>
    <result column="apvl" property="approval"/>
    <result column="drdt" property="approvalDate"/>
    <result column="aovl_cont" property="approvalContent"/>
    
  </resultMap>
  
  <sql id="select1">
    select 
      tm.mno,
      tm.mname,
      tm.email,
      tm.tel,
      tm.birth,
      tm.mtype,
      tj.nic,
      tj.gender,
      tj.pst_no,
      tj.basic_addr,
      tj.det_addr,
      tj.prof,
      tj.pref_gender,
      tj.mrdt,
      tj.star_avg,
      tj.rev_avg,
      td.lic_no,
      td.lic_type,
      td.lic_renew,
      td.lic_verf,
      td.cno,
      td.cname,
      td.ccolor,
      td.cyear,
      td.cowner,
      td.lic_photo,
      td.ins_photo,
      td.car_photo,
      td.corp_photo,
      td.apvl
    from talat_memb tm
      inner join talat_join tj on tm.mno=tj.mno
      inner join talat_driver td on tm.mno=td.mno
  </sql>
  
  <sql id="select2">
    select 
      tm.mno,
      tm.mname,
      tm.email,
      tm.tel,
      tm.birth,
      tm.mtype,
      tj.nic,
      tj.gender,
      tj.pst_no,
      tj.basic_addr,
      tj.det_addr,
      tj.prof,
      tj.pref_gender,
      tj.mrdt,
      tj.star_avg,
      tj.rev_avg
    from talat_memb tm
      inner join talat_join tj on tm.mno=tj.mno
  </sql>
  
    <insert id="insert" parameterType="memberDriver">
    insert into talat_driver
      (mno,lic_no,lic_type,lic_renew,lic_verf,cno,cname,ccolor,cyear,cowner,
      lic_photo,ins_photo,car_photo,corp_photo,apvl)
    values(#{dmno}, #{licenseNo}, #{licenseType}, #{licenseRenewal}, #{licenseVerfNo}, #{carNo}
      , #{carModel}, #{carColor}, #{carYear}, #{carOwner}, #{licensePhoto}
      , #{insurancePhoto}, #{carPhoto}, #{corporationPhoto}, #{approval})
</insert>
  
 <select id="findAll" resultMap="memberDriverMap" >
    <include refid="select1"/>
    order by tm.mno asc
  </select>
  
  <select id="findByNo" resultMap="memberDriverMap" parameterType="int">
    <include refid="select1"/>
    where tm.mno=#{value}
  </select>
  
  <select id="findByEmailPassword" resultMap="memberDriverMap" parameterType="map">
    select 
      mno,
      email
      from talat_memb
    where email = #{email} and pwd = password(#{password})
  </select>
  
  <delete id="delete" parameterType="int">
    delete from talat_driver
    where mno=#{value}
  </delete>
  
  <update id="update" parameterType="memberDriver">
  update talat_driver
  <set>
    <if test="lic_no != ''">lic_no=#{licenseNo}</if>
    <if test="lic_type != ''">lic_type=#{licenseType}</if>
    <if test="lic_renew != ''">lic_renew=#{licenseRenewal}</if>
    <if test="lic_verf != ''">lic_verf=#{licenseVerfNo}</if>
    <if test="cno != ''">cno=#{carNo}</if>
    <if test="cname != ''">cname=#{carModel}</if>
    <if test="ccolor != ''">ccolor=#{carColor}</if>
    <if test="cyear != ''">cyear=#{carYear}</if>
    <if test="cowner != ''">cowner=#{carOwner}</if>
    <if test="lic_photo != ''">lic_photo=#{licensePhoto}</if>
    <if test="ins_photo != ''">ins_photo=#{insurancePhoto}</if>
    <if test="car_photo != ''">car_photo=#{carPhoto}</if>
    <if test="corp_photo != ''">corp_photo=#{corporationPhoto}</if>
  </set>
  where mno=#{dmno}
  </update>
  
  <update id="updateApvl" parameterType="int">
  update talat_driver
  <set>
    <if test="approval != ''">apvl=#{approval}</if>
    <if test="approvalContent != ''">aovl_cont=#{approvalContent}</if>
  </set>
  where mno=#{dmno}
  </update>
 
</mapper>
