<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.MemberDao">

  <resultMap id="memberMap" type="member">
    <id column="mno" property="mno"/>
    <result column="mname" property="mname"/>
    <result column="email" property="email"/>
    <result column="pwd" property="password"/>
    <result column="tel" property="tel"/>
    <result column="birth" property="birth"/>
    <result column="mtype" property="mType"/>
    <result column="nic" property="nickName"/>
    <result column="gender" property="gender"/>
    <result column="pst_no" property="postNo"/>
    <result column="basic_addr" property="basicAddress"/>
    <result column="det_addr" property="detailAddress"/>
    <result column="prof" property="profile"/>
    <result column="pref_gender" property="preferenceGender"/>
    <result column="mrdt" property="registeredDate"/>
    <result column="star_avg" property="starAverage"/>
    <result column="rev_avg" property="reviewAverage"/>
  </resultMap>
  
  <insert id="insert1" parameterType="member"
        useGeneratedKeys="true" keyColumn="mno" keyProperty="mno">
    insert into talat_memb(mname,email,pwd,tel,birth,mtype)
    values(#{mname}, #{email}, password(#{password}), #{tel}, #{birth}, #{mType})
  <selectKey keyProperty="mno" resultType="int" order="AFTER">
   SELECT LAST_INSERT_ID()
  </selectKey>
  </insert>
  
    <insert id="insert2" parameterType="member">
    insert into talat_join(mno,nic,gender,pst_no,basic_addr,det_addr,prof,pref_gender,star_avg,rev_avg)
    values(#{mno}, #{nickName}, #{gender}, #{postNo}, #{basicAddress}, #{detailAddress}
          , #{profile}, #{preferenceGender}, #{starAverage}, #{reviewAverage})
  </insert>
  
  <select id="findAll" resultMap="memberMap" parameterType="string">
    select 
      tm.mno,
      tm.mname,
      tm.email,
      tm.tel,
      tm.birth,
      tm.mtype,
      tj.nic,
      tj.gender,
      tj.pst_no,
      tj.basic_addr,
      tj.det_addr,
      tj.prof,
      tj.pref_gender,
      tj.mrdt,
      tj.star_avg,
      tj.rev_avg
    from talat_memb tm
      left outer join talat_join tj on tm.mno=tj.mno
    order by tm.mno asc
  </select>
 
   <select id="findByEmailPassword" resultMap="memberMap" parameterType="map">
    select 
      tm.mno,
      tm.mname,
      tm.email,
      tm.tel,
      tm.birth,
      tm.mtype,
      tj.nic,
      tj.gender,
      tj.pst_no,
      tj.basic_addr,
      tj.det_addr,
      tj.prof,
      tj.pref_gender,
      tj.mrdt,
      tj.star_avg,
      tj.rev_avg
    from talat_memb tm
      left outer join talat_join tj on tm.mno=tj.mno
    where tm.email = #{email} and tm.pwd = password(#{password})
  </select>
  
  <select id="findByNo" resultMap="memberMap" parameterType="int">
    select 
      tm.mno,
      tm.mname,
      tm.email,
      tm.tel,
      tm.birth,
      tm.mtype,
      tj.nic,
      tj.gender,
      tj.pst_no,
      tj.basic_addr,
      tj.det_addr,
      tj.prof,
      tj.pref_gender,
      tj.mrdt,
      tj.star_avg,
      tj.rev_avg
    from talat_memb tm
      left outer join talat_join tj on tm.mno=tj.mno
    where tm.mno=#{value}
  </select>
 
  <update id="update" parameterType="member">
  update talat_memb tm
    left outer join talat_join tj
    on tm.mno=tj.mno
  <set> 
    <if test="mname != ''">tm.mname=#{mname}</if>
    <if test="email != ''">tm.email=#{email}</if>
    <if test="tel != ''">tm.tel=#{tel}</if>
    <if test="birth != null">tm.birth=#{birth}</if>
    <if test="nickName != ''">tj.nic=#{nickName}</if>
    <if test="postNo != ''">tj.pst_no=#{postNo}</if>
    <if test="basicAddress != ''">tj.basic_addr=#{basicAddress}</if>
    <if test="detailAddress != ''">tj.det_addr=#{detailAddress}</if>
    <if test="preferenceGender != null">tj.pref_gender=#{preferenceGender}</if>
  </set>
  where tm.mno=#{mno}
  </update>
  
  <update id="update2">
  update talat_memb tm, talat_join tj set 
      tm.mname=#{tm.mname},
      tm.email=#{tm.email},
      tm.pwd=#{tm.password},
      tm.tel=#{tm.tel},
      tm.birth=#{tm.birth},
      tj.nic=#{tj.nicName},
      tj.pst_no=#{tj.postNo},
      tj.basic_addr=#{tj.basicAddress},
      tj.det_addr=#{tj.detailAddress},
      tj.prof=#{tj.profile},
      tj.pref_gender=#{tj.preferenceGender}
  where tm.mno=#{value} and tj.mno=#{value}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from tj, tm
      using talat_join tj
      inner join talat_memb tm
      on tj.mno=tm.mno
    where tj.mno=#{value}
  </delete>
 
</mapper>







