<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.MemberDao">
  
  <resultMap id="memberMap" type="member">
    <id column="mno" property="no"/>
    <result column="mname" property="name"/>
    <result column="email" property="email"/>
    <result column="tel" property="tel"/>
    <result column="birth" property="birth"/>
   <result column="mtype" property="mType"/>
  </resultMap>
  
  <insert id="insert" parameterType="member">
    insert into talat_memb(mname,email,pwd,tel,birth,mtype) 
    values(#{name}, #{email}, password(#{password}), #{tel}, #{birth}, #{mType})
  </insert>
  
  <select id="findAll" resultMap="memberMap">
    select 
      mno,
      mname,
      email,
      tel 
    from talat_memb
    order by mname asc
  </select>
  
  <select id="findByName" resultMap="memberMap" parameterType="string">
    select 
      mno,
      mname,
      email,
      tel 
    from talat_memb
    where mname = #{value}
    order by mname asc
  </select>
  
  <select id="findByNo" resultMap="memberMap" parameterType="int">
    select 
      mno,
      mname,
      email,
      tel,
      birth
    from talat_memb
    where mno = #{value}
  </select>
  
  <select id="findByEmailPassword" resultMap="memberMap" parameterType="map">
    select 
      mno,
      mname,
      email
    from talat_memb
    where email = #{email} and pwd = password(#{password})
  </select>
  
  <update id="update" parameterType="member">
    update talat_memb
    <set> 
      <if test="name != ''">mname=#{name},</if>
      <if test="email != ''">email=#{email},</if>
      <if test="password != ''">pwd=password(#{password}),</if>
      <if test="tel != ''">tel=#{tel}</if> 
      <if test="birth != ''">birth=#{birth}</if> 
    </set>
    where mno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from talat_memb
    where mno=#{value}
  </delete>

</mapper>







