<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.ReviewRiderDao">
  
  <resultMap id="reviewRiderMap" type="reviewRider">
    <id column="rjno" property="rjno"/>
    <result column="dstar" property="dstar"/>
    <result column="rrevdate" property="rRevRegisteredDate"/>
    <result column="rrevstat" property="rRevStat"/>
        
    <!-- 멤버 association -->
    <association property="rwriter" javaType="member">
      <id column="rwriter_no" property="mno"/>
      <result column="rwriter_name" property="mname"/>
    </association>
    
    <association property="dpartner" javaType="member">
      <id column="dpartner_no" property="mno"/>
      <result column="dpartner_name" property="mname"/> 
    </association>

    <!-- 리뷰 collection -->
    <collection property="reviews" ofType="review">
      <id column="rev_no" property="revNo"/>
      <result column="rev" property="review"/>
    </collection>
        
  </resultMap>
  
  <insert id="insert" parameterType="ReviewRider">
    insert into talat_review_driver(rjno,rev_no,rev,dstar,rrevstat) 
    values
    <foreach collection="reviews" item="r" separator=",">
      (#{rjno},#{r.revNo},#{r.review},#{dstar},#{rRevStat});
    </foreach>
  </insert>

  <select id="findAll" resultMap="reviewRiderMap">
    select
      rr.rjno,
      rr.dstar,
      rr.rrevdate,
      rr.rrevstat,
      r.rev_no as rev_no,
      r.rev as rev,
      rm.mno as rwriter_no,
      rm.mname as rwriter_name,
      dm.mno as dpartner_no,
      dm.mname as dpartner_name
    from talat_review_driver rr
      left outer join talat_review r on rr.rev_no=r.rev_no
      inner join talat_journey_rider rj on rr.rjno=rj.rjno
      inner join talat_memb rm on rj.mno=rm.mno
      inner join talat_journey j on rj.jno=j.jno
      inner join talat_memb dm on j.mno=dm.mno 
    order by rr.rjno desc
  </select>

</mapper>







