<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talat.pms.dao.RouteDao">
  
  <resultMap id="routeMap" type="route">
    <id column="rno" property="rno"/>
    <result column="spot_order" property="spotOrder"/>
    <result column="lat" property="latitude"/>
    <result column="lng" property="longitude"/>
    <result column="spot_name" property="spotName"/>
    <result column="spot_time" property="spotTime"/>    
  </resultMap>
  
  <insert id="insert" parameterType="route">
    insert into talat_journey_route(lat,lng,spot_name,spot_time) 
    values(#{latitude},#{longitude},#{spotName},#{spotTime})
  </insert>

  <select id="findByNo" resultMap="routeMap" parameterType="int">
    select
      r.rno,
      r.lat,
      r.lng,
      r.spot_name,
      r.spot_time
    from talat_journey_route r
    where r.rno = #{value}
  </select>
  
  <update id="update" parameterType="route">
    update talat_journey_route set
        lat = #{latitude}, 
        lng = #{longitude}, 
        spot_name = #{spotName}, 
        spot_time = #{spotTime}
    where rno = #{rno}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from talat_journey_route
    where rno = #{value}
  </delete>

</mapper>







